OPENAI_API_KEY=ejemplo
OPENAI_MODEL=gpt-4o-mini

OPENAI_STT_MODEL=gpt-4o-mini-transcribe
OPENAI_TTS_MODEL=gpt-4o-mini-tts
OPENAI_TTS_VOICE=coral

VECTOR_DB_PATH=data/vector_db
COLLECTION_NAME=technical_docs

TESSERACT_CMD=/usr/bin/tesseract
OCR_LANG=spa+eng

DIALOGFLOW_PROJECT_ID=tejemplo
DIALOGFLOW_LANGUAGE_CODE=es
GOOGLE_APPLICATION_CREDENTIALS=credentials/dialogflow-service-account.json